.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
#navbar {
  width: 100%;
  background-color: white;
}
.nav-link {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content-container {
  flex: 1;
  overflow: auto;
}

.project-tiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 700px) {
  .project-tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .project-tiles {
    grid-template-columns: 1fr;
  }
}
